<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Parse JavaScript Todo App</title>
    <link href="./css/css.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="./js/underscore-1.1.6.js"></script>
    <script src="//www.parsecdn.com/js/parse-1.1.15.min.js"></script>
    <script src="./js/flot.js"></script>
    <script src="./js/app.js"></script>
  </head>

  <body>
    <!-- App Interface -->
    <div id="app">
    </div>
</div>
    <!-- Templates -->
    <script type="text/template" id="start-template">
        <button id="button-login">Log In</button>
        <button id="button-reg">Register</button>
    </script>

    <script type="text/template" id="login-template">
        <form class="login-form">
          <div class="error"></div>
          <input type="text" id="login-username" placeholder="Username" />
          <input type="password" id="login-password" placeholder="Password" />
          <button>Log In</button>
        </form> 
    </script>

    <script type="text/template" id="register-template">
      <form class="register-form">
          <div class="error"></div>
          <input type="text" id="reg-username" placeholder="Username" />
          <input type="password" id="reg-password" placeholder="Password" />
          <input type="text" id="reg-email" placeholder="Email" />
          <input type="date" id="reg-date" placeholder="Date of birth" />
          <button id="reg">Register</button>
      </form>
    </script>

    <script type="text/template" id="menu-template">
        <button id="menu-buddies">Buddies</button>
        <button id="menu-buds">Buds</button>
        <button id="menu-redeem">Redeem</button>
        <button id="menu-king">King of beers</button>
        <button id="log-out">Log out</button>
        <!-- Debug buttons -->
        <button id="debug-addBud">Add a bud</button> 
    </script>

    <script type="text/template" id="buddies-template">
        <ul id="buddies-list"></ul> 
        <button id="back">back</button>
    </script>

    <script type="text/template" id="buddy-template">
        <button><%=username%></button>
    </script>

    <script type="text/template" id="buds-template">
        <h2> You have <%= charity %> charity bud<%= charity==1?'':'s' %> and <%= free %> free bud<%= free==1?'':'s' %>!</h2>
        <%= charity+free >0?'<input type="text" id="sendTo" placeholder="send to.." /> <input type="text" id="mess" placeholder="Send a message.." /><button id="send">Send a bud</button>':'' %>
        <%= free >0?'<button id="acquire">Redeem a bud</button>':'' %>
        <ul id="buds-sent"></ul>
        <ul id="buds-received"></ul>
        <ul id="buds-redeemed"></ul>
        <button id="back">back</button>
    </script>

     <script type="text/template" id="bud-template">
        <h2><%= from == null ? 'no one':from %> sent a bud to <%= to %></h2>
        <p> <%= message %> </p>
    </script>

    <script type="text/template" id="kings-template">
        <ul id="kings"></ul>
       
        <button id="back">back</button>
    </script>

    <script type="text/template" id="king-template">
        <div class="king"><%=username%> has <%=buds%> bud<%=buds==1?'':'s'%>!</div>
       
    </script>

  </body>

</html>
